<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>225020428722-mpf9i327lc1gjtlffn4ctvrgvcmd2bgk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.225020428722-mpf9i327lc1gjtlffn4ctvrgvcmd2bgk</string>
	<key>API_KEY</key>
	<string>AIzaSyCp8lw-yYb05bSin0ulMx9qzAOnRg9S7GA</string>
	<key>GCM_SENDER_ID</key>
	<string>225020428722</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.primecMarket.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>primec-market</string>
	<key>STORAGE_BUCKET</key>
	<string>primec-market.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:225020428722:ios:318a63b5faacebe38e64ab</string>
</dict>
</plist>